.detalhesPage {
    padding: 20px 40px;
}

.content {
    display: flex;
    align-items: stretch;
    /* Alinha itens para esticar e ter a mesma altura */
}

.imageContainer {
    background-color: white;
    /* Fundo branco para a imagem */
    padding: 10px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    /* Largura fixa para a imagem */
    height: 400px;
    /* Altura fixa para a imagem */
}

.detalhesImage {
    width: 100%;
    /* Responsivo */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: contain;
}

.detailsContainer {
    background-color: #f9f9f9;
    /* Cor de fundo clara */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    /* Diminui o padding-top e adiciona padding-bottom */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    /* Aumenta a largura fixa do contêiner de detalhes */
    height: 400px;
    /* Mantém a altura fixa para o contêiner de detalhes */
    margin-left: 20px;
    /* Adiciona margem à esquerda para separar da imagem */
    display: flex;
    flex-direction: column;
    /* Permite que os elementos internos sejam empilhados verticalmente */
    justify-content: space-between;
    /* Distribui espaço entre os elementos internos */
}

h2 {
    font-size: 28px;
    /* Aumenta o tamanho do título */
}

.detalhesPrice {
    font-size: 26px;
    /* Aumenta o tamanho do preço */
    color: grey;
}

.productDetails {
    margin-top: 10px;
    /* Espaço entre o preço e os detalhes */
    font-size: 18px;
    /* Aumenta o tamanho dos detalhes do produto */
}

.buyButton {
    padding: 16px;
    /* Aumenta o padding do botão para torná-lo maior */
    background-color: #663300;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    /* Aumenta o tamanho da fonte do botão */
    margin-top: auto;
    /* Empurra o botão para a parte inferior do contêiner */
}

.buyButton:hover {
    background-color: #27a417;
}

.stockInfo {
    color: #333;
    /* Cor do texto */
    opacity: 0.8;
    /* Opacidade do texto */
    font-size: 14px;
    /* Tamanho da fonte */
    margin-bottom: 10px;
    /* Espaçamento abaixo do texto */
}

.outOfStock {
    background-color: grey;
    /* Cor cinza para o botão */
    cursor: not-allowed;
    /* Cursor indicando que não é clicável */
}

.outOfStock:hover {
    background-color: grey;
}

/* Responsividade */
@media (max-width: 1000px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding-top: 300px;
    }

    .imageContainer {
        margin-left: 20px;
    }

    .imageContainer,
    .detailsContainer {
        width: 450px;
        height: auto;
        margin-bottom: 20px;
        min-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        border-radius: none;
    }
}

@media (max-height: 680px) {
    .content {
        padding-top: 10%;
    }
}

@media (max-height: 580px) {
    .content {
        padding-top: 20%;
    }
}

@media (max-height: 480px) {
    .content {
        padding-top: 30%;
    }
}

@media (max-height: 380px) {
    .content {
        padding-top: 40%;
    }
}

@media (max-width: 1000px) and (max-height: 680px) {
    .content {
        padding-top: 350px;
    }
}

@media (max-width: 1000px) and (max-height: 580px) {
    .content {
        padding-top: 450px;
    }
}

@media (max-width: 1000px) and (max-height: 480px) {
    .content {
        padding-top: 550px;
    }
}

@media (max-width: 1000px) and (max-height: 380px) {
    .content {
        padding-top: 650px;
    }
}