body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da janela */
  margin: 0; /* Remove margens padrão */
}

.footer {
  width: 100vw;
  height: 100px; /* Faz o footer ocupar toda a largura da tela */
  background: #dfdcca;
  padding-top: 24px;
  text-align: center;
}

.content {
  flex: 1; /* Faz com que o conteúdo ocupe todo o espaço disponível */
}

.text-footer {
  font-size: 0.75rem;
  font-style: italic;
}

.text-footer {
    margin-bottom: 12px;
    color: #663300;
    font-size: 16px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 4px;
}

.footer-icons a {
    font-size: 24px;
    transition: color 0.2s;
}

.footer-icons a[href*="instagram"] {
    color: #e1306c; /* Rosa Instagram */
}
.footer-icons a[href*="facebook"] {
    color: #1877f3; /* Azul Facebook */
}
.footer-icons a[href*="wa.me"] {
    color: #25d366; /* Verde WhatsApp */
}

.footer-icons a[href*="twitter"] {
    color: black ;
}

.footer-icons a:hover {
    opacity: 0.8;
}

.direitos {
  color: #663300
}