.produtosPage {
  width: 100%;
  padding-top: 700px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-top: 60px; 
  max-width: 1200px;
  margin: 0 auto;
}

.productCard {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 8px 0;
}

.productPrice {
  color: grey;
  font-size: 22px;
  margin: 8px 0;
}

.productButton,
.detailsButton {
  border: none;
  outline: none;
  padding: 12px;
  color: white;
  background-color: #663300;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.productButton:hover {
  background-color: #27a417;
}

.detailsButton {
  margin-top: 8px;
  background-color: #4a2500;
}

.detailsButton:hover {
  opacity: 0.8;
  background-color: #331a00;
}

.stockInfo {
  color: #333;
  opacity: 0.8;
  font-size: 14px;
  margin: 8px 0;
  text-align: center;
  width: 100%;
}

.disabledButton {
  background-color: gray;
  cursor: not-allowed;
}

.disabledButton:hover {
  background-color: gray;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    padding-top: 5px;
    gap: 15px;
  }

  .productTitle {
    font-size: 16px;
  }

  .productPrice {
    font-size: 18px;
  }

  .productButton,
  .detailsButton {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .produtosPage {
    padding-top: 50px;
  }

  .productList {
    grid-template-columns: 1fr;
    padding: 10px;
    padding-top: 40px;
  }

  .productCard {
    padding: 10px;
  }

  .productImage {
    height: 180px;
  }
}

