.nossasLojasPage {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 820px;
}

.cardsWrapper {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardsWrapper h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.card {
    background-color: #dfdcca;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardContent {
    margin-bottom: 15px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

.card p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.mapWrapper {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
}

/* Tablets e dispositivos médios */
@media (max-width: 1024px) {
    .nossasLojasPage {
        padding: 15px;
        padding-top: 750px;
    }

    .cardsWrapper {
        padding: 25px;
    }

    .cardsWrapper h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .cardsContainer {
        gap: 20px;
    }

    .card {
        padding: 20px;
    }
}

@media (max-width: 710px) {
    .nossasLojasPage {
        padding-top: 1750px;
    }
}

@media (max-height: 600px) {
    .nossasLojasPage {
        padding-top: 2000px;
    }
}

@media (max-height: 400px) {
    .nossasLojasPage {
        padding-top: 2200px;
    }
}

/* Tablets pequenos e dispositivos médios */
@media (max-width: 768px) {
    .cardsWrapper h1 {
        font-size: 22px;
    }

    .cardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    .card h2 {
        font-size: 18px;
    }
}

/* Dispositivos móveis */
@media (max-width: 480px) {
    .nossasLojasPage {
        padding: 10px;
        padding-top: 60px;
    }

    .cardsWrapper {
        padding: 15px;
    }

    .cardsWrapper h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cardsContainer {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

}