.trabalheConoscoPage {
    padding: 20px;
    margin-top: 5%;
    padding-top: 10%;
}

.container {
    display: flex; 
}

.servicosWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
    flex-basis: 30%; 
}

.servicosList {
    list-style-type: none;
    padding-left: 0;
}

.servicoItem {
    margin-bottom: 10px;
}

.formWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-basis: 65%;
}

.formWrapper h2 {
    color: #663300;
    font-size: 30px;
    margin-bottom: 15px;
}

.formContainer {
    display: flex; 
    flex-wrap: wrap; 
}

.column {
    flex: 1;
    min-width: 300px; 
    margin-right: 20px; 
}

.column:last-child {
    margin-right: 0;
}

.formGroup {
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px; 
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submitButton {
    background-color: #663300; 
    color: white;
    border: none;
    padding: 10px; 
    border-radius: 5px;
    cursor: pointer;
    width: 97%; 
    height: 40px; 
    font-size: 16px; 

}

.submitButton:hover {
    opacity: 0.8; 
}

/* Responsividade */
@media (max-width: 1200px) {
    .trabalheConoscoPage {
        padding-top: 40%;
    }
}

@media (max-width: 1100px) {
    .trabalheConoscoPage {
        padding-top: 50%;
    }
}

@media (max-width: 950px) {
    .trabalheConoscoPage {
        padding-top: 60%;
    }
}

@media (max-width: 900px) {
    .trabalheConoscoPage {
        padding-top: 70%;
    }
}

@media (max-height: 680px) {
    .trabalheConoscoPage {
        padding-top: 10%;
    }
}

@media (max-height: 580px) {
    .trabalheConoscoPage {
        padding-top: 20%;
    }
}

@media (max-height: 480px) {
    .trabalheConoscoPage {
        padding-top: 30%;
    }
}

@media (max-height: 380px) {
    .trabalheConoscoPage {
        padding-top: 40%;
    }
}

@media (max-width: 1200px) and (max-height: 680px) {
    .trabalheConoscoPage {
        padding-top: 50%;
    }
}

@media (max-width: 1200px) and (max-height: 580px) {
    .trabalheConoscoPage {
        padding-top: 60%;
    }
}

@media (max-width: 1200px) and (max-height: 480px) {
    .trabalheConoscoPage {
        padding-top: 70%;
    }
}

@media (max-width: 1200px) and (max-height: 380px) {
    .trabalheConoscoPage {
        padding-top: 80%;
    }
}

@media (max-width: 1100px) and (max-height: 680px) {
    .trabalheConoscoPage {
        padding-top: 60%;
    }
}

@media (max-width: 1100px) and (max-height: 580px) {
    .trabalheConoscoPage {
        padding-top: 50%;
    }
}

@media (max-width: 1100px) and (max-height: 480px) {
    .trabalheConoscoPage {
        padding-top: 60%;
    }
}

@media (max-width: 1100px) and (max-height: 380px) {
    .trabalheConoscoPage {
        padding-top: 80%;
    }
}

@media (max-width: 950px) and (max-height: 480px) {
    .trabalheConoscoPage {
        padding-top: 70%;
    }
}

@media (max-width: 950px) and (max-height: 380px) {
    .trabalheConoscoPage {
        padding-top: 70%;
    }
}

@media (max-width: 900px) and (max-height: 480px) {
    .trabalheConoscoPage {
        padding-top: 80%;
    }
}

@media (max-width: 900px) and (max-height: 380px) {
    .trabalheConoscoPage {
        padding-top: 90%;
    }
}